<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="container-fluid">
    <div class="container">
        <form enctype="multipart/form-data" action="upload" method="post" class="card-body shadow bg-light mt-5">
            <h3 class="text-center">Upload to Gallery</h3>
            <div class="form-group">
              <label for="" class="form-label">Image</label>
              <input required type="file" name="image"  class="form-control w-50" placeholder="" aria-describedby="helpId">
            </div>
            <div class="form-group">
                <button class="btn btn-primary mt-2 w-25 justify-content-center">Upload</button>
                <a href="/images" class="btn btn-primary mt-2 w-25 justify-content-center">Go to gallery</a>
            </div>
        </form>
    </div>
</body>
</html>